.temps {
    border: 1px solid rgba(0, 0, 0, 0.75);
    font-family: Consolas;
    font-size: 28px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #008B8B;
    border-color: #008B8B;
}
