.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

p {
    font-family: Calibri;
    font-size: 23px;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
    margin-left: 5px;
    margin-right: 5px;
}


.widget {
    margin: 20px 20px 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 2px #008B8B;
    border-radius: 7px;
}
