h3 {
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-weight: 900;
    color: #008B8B;
}

label {
    margin-left: 50px;
}

.champ {
    margin-left: 10px;
}

.valide {
    margin-left: 50px;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    
}