.nom {
    font-size: 28px;
    font-weight: 900;
    text-shadow: 1px 1px 1px lightgrey;
    color: #008B8B;
}

.photo {
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 3px lightgrey;
    border-radius: 50px;
    border: 3px solid #008B8B;
    margin: 10px 5px 10px 5px;
}

