ul {
    font-family: Calibri;
}

nav {
    font-size: 20px;
    border-spacing: 200px;
    color: grey;
    text-decoration: none;
    padding: 8px 50px;
}

.bouton {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    padding: 8px 50px;
}

    .bouton:hover {
        font-size: 25px;
        text-decoration: none;
        color: #008B8B;
    }

